<h1><%= @contact.first_name %> <%= @contact.last_name%></h1>
<p class="profile">
Contact ID: <%= @contact.id %><br> 
First Name: <%= @contact.first_name %><br>
Last Name: <%= @contact.last_name %><br>
Email: <%= @contact.email %><br>
Notes: <%= @contact.notes %><br>
</p>

<section class="footer">
<p><a href="/contacts"><img class="icon_phone" src="http://www.aspea.org/2014phone.png" />  Return to Contacts
</a></p>
</section>